.footer {
    margin-top: 1rem;
    padding: 1rem;
    background-color: white;
    /* font-color: white; */
    position: absolute;
    bottom: 0px;
    height: 130px;
    left: 0;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

p {
    color: #333;
    text-align: center;
    margin: 0;
    bottom: 0;
    font-family: MetSans-Regular;
}

@font-face {
    font-family: 'MetSans-Regular';
    src: local('MetSans-Regular'),
        url(./fonts/TheMetSans-Regular.woff2) format('truetype');
}
