.primary-image {
    position: absolute;
    top: 160px;
    bottom: 160px;
    width: 95%;
    /* height: 100%; */
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    /* margin: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.primary-image h1 {
    font-family: MetSans-Regular;
    color: #333;
    background-color: white;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 75%;
}
.primary-image p {
    font-family: MetSans-Regular;
    color: #333;
    padding-bottom: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5em;
}

.primary-image a {
    color: #333;
    /* position: fixed; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* display: block; */
}

.art-info {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@font-face {
    font-family: 'MetSans-Semibold';
    src: local('MetSans-Semibold'),
        url(./fonts/TheMetSans-Semibold.woff2) format('truetype');
}

@font-face {
    font-family: 'MetSans-Regular';
    src: local('MetSans-Regular'),
        url(./fonts/TheMetSans-Regular.woff2) format('truetype');
}
